.headerOne{
    text-align: left;
    font-weight: 700;
    font-size: 55px;
}

.subHeader{
    text-align: left;
    opacity: 0.5;
}

.button{
    background-color: #226cd5;
    color: white;
    height: 40px;
    padding: 0px 20px 0px 20px;
    border-radius: 5px;
    border-color: transparent;
    left: 0;
    font-weight: 500;
}

.headerImg{
    height: 450px;
    margin-top: 170px;
}

.header{
    text-align: left;
    font-weight: 700;
}

.content{
    text-align: left;
    opacity: 0.4;
    line-height: 33px;
    font-size: 20px;
}

.HHW1{
    height: 250px;
}

.HWWSubHeader{
    text-align: left;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 5px;
    font-size: 24px;
}

.HWWContent{
    text-align: left;
    opacity: 0.4;
    margin-left: 5px;
    font-size: 16px;
    line-height: 30px ;
}

.responsiveForHWW{
    margin-left: 260px;
}

.jcImgContainer{
    
}
.accordContainer{
    margin-left: 100px;
}

.card{
    width:700px;
    height: 250px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 9px;
    margin-left: 150px;
}

.mr{
    margin-left: 80px;
}



@media screen and (max-width: 1366px){
    .headerImg{
        height: 380px;
    }

    .HHW1{
        height: 190px;
    }

    .header{
        font-size: 26px;
    }

    .content{
        font-size:18px;
    }

    .HWWSubHeader{
        font-size: 24px;
    }
    .responsiveForHWW{
        margin-left: 100px;
    }
    .jcImg{
        height: 200px;
        margin-left: 0px;
    }
    .jcImgContainer{
        text-align: left;
        margin-left: 80px;
    }
    .accordContainer{
        margin-left: 80px;
    }
    .card{
        width: 600px;
        box-shadow:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) ;
        margin-left: 50px;
    }
    .mr{
        margin-left: 60px;
    }
}